#titleHome {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
  font-weight: bolder;
  color: aliceblue;
  text-shadow: 10px 10px 10px black;
  height: 295px;
  align-items: center;
  margin-bottom: 20px;
}

#linkHome {
  text-decoration: none;
}

#cardUserHome {
  background-color: antiquewhite;
  margin: 20px;
  display: flex;
  box-shadow: 10px 10px 15px black;
  width: 200px;
  height: 180px;
  text-align: center;
}

#homeBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 300px;
}

.imgGifTitle {
  background-image: url("../../assets/images/randomfruits.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 220px;
  height: 150px;
  margin: 20px;
  border-radius: 20px;
}

#containerTitleHome {
  display: flex;
  padding: 10px;
  background-color: rgba(250, 128, 114, 0.786);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  align-items: center;
  height: 200px;
}

#cardImcHome {
  position: fixed;
}

#homeHome {
  display: flex;
}

#btnDetalhes {
  background-color: coral;
  color: aliceblue;
  width: 150px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#card-body {
  height: 70px;
  margin-top: 20px;
}
