.container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: salmon;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container img {
  width: 50px;
  border-radius: 5px;
}
