#cardsCreate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
#bodyCreate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /* margin: 50px 50px; */
}
#quantity {
  width: 50px;
  text-align: center;
  margin: 10px;
}
#buttonAdd {
  width: 200px;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 10px 10px 15px black;
}
#footerCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#miniFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchBar {
  text-align: center;
}
#buttonCriar {
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 10px 10px 15px black;
}
#headerCreate {
  display: flex;
  justify-content: space-around;
  background-color: rgba(250, 128, 114, 0.786);
  border-radius: 20px;
  font-size: 30px;
  color: aliceblue;
  height: 80px;
  align-items: center;
}
#titleCreateList {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 55px;
  color: aliceblue;
}
#date-input {
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;
}
#owner-input {
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;
}
#searchBar {
  background-color: rgba(250, 128, 114, 0.786);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  height: 80px;
}
#headerCreateFirst {
  display: flex;
  justify-content: center;
  background-color: rgba(250, 128, 114, 0.786);
  align-items: center;
  border-radius: 15px;
  height: 80px;
}
#backHomeCreate {
  right: 300px;
}

.sort {
  color: aliceblue;
  font-size: 30px;
}

.sort span {
  margin-right: 20px;
}

.sort-btn {
  margin-right: 20px;
}

.sort-btn:hover {
  font-size: 20px;
  font-weight: bold;
  border: 5px solid;
  background-color: greenyellow;
}
