#cardsCreate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
#bodyCreate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  /* margin: 50px 50px; */
}
#quantity {
  width: 50px;
  text-align: center;
  margin: 10px;
}
#buttonAdd {
  width: 200px;
  justify-content: center;
  margin: 0 auto;
}
#footerCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#miniFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchBar {
  text-align: center;
}
#buttonCriar {
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
}
#headerCreate {
  display: flex;
  justify-content: space-around;
  background-color: salmon;
  opacity: 0.5;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 30px;
  color: aliceblue;
}
#titleCreateList {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: salmon;
  color: aliceblue;
  font-size: 50px;
  border-radius: 15px;
  padding: 20px;
}
#date-input {
  border-radius: 20px;
  text-align: center;
}
#owner-input {
  border-radius: 20px;
  text-align: center;
}
#searchBar {
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
}
